[class^="icon"] {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    &:not([fill="none"]) {
        fill: currentColor;
    }
}

svg[class^="icon-"] {
    display: inline-block;
    line-height: 1;

    &:not([fill="none"]) {
        fill: currentColor;
    }
}

svg.icon-stroke {
    stroke: currentColor;
}

[class*="s-icon"] {
    vertical-align: middle;
    display: inline-block;
    line-height: 1;

    &::before {
        content: "";
        display: block;
    }
}
