@use "../plugins/include-media" as *;

:root {
    --black: #202833;
    --gray: #626263;
    --gray-light: #eef1f5;
    --gray-dark: #3f4652;
    --white: #ffffff;
    --blue: #278AFE;
    --blue-dark: #1166c9;
    --red: #FF5E5E;
    --red-dark: #d93636;
    --green: #22c55e;
    --green-dark: #15803d;
    --yellow: #facc15;
    --yellow-dark: #a16207;
    --pink: #ec4899;
    --pink-dark: #be185d;
    --cyan: #06b6d4;
    --cyan-dark: #0e7490;
    --purple: rebeccapurple;
    --purple-dark: #4b1d74;

    --primary-color: var(--blue);
    --primary-color-hover: var(--blue-dark);
    --secondary-color: var(--gray-light);
    --secondary-color-hover: #dde3eb;
    --success-color: var(--green);
    --success-color-hover: var(--green-dark);
    --danger-color: var(--red);
    --danger-color-hover: var(--red-dark);
    --warning-color: var(--yellow);
    --warning-color-hover: #eab308;
    --info-color: var(--cyan);
    --info-color-hover: var(--cyan-dark);
    --purple-color: var(--purple);
    --purple-color-hover: var(--purple-dark);
    --pink-color: var(--pink);
    --pink-color-hover: var(--pink-dark);
    --background-color: var(--purple);
	--text-color: var(--white);

    --t-time: 0.2s;
    --t-base: var(--t-time) ease-in-out;
    --t-smooth: cubic-bezier(.215, .61, .355, 1);
    --t-elastic: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    --font-size-base: 16px;
    --font-family-default: 'Open Sans', sans-serif;
    --font-family-secondary: 'Open Sans', sans-serif;
    --font-feature: 'pnum' on, 'lnum' on;

    --base-container-width: 1200;
    --container-gutter: 15px;
    --container-width: calc(var(--base-container-width) * 1px + var(--container-gutter) * 2);

    @media (width < bp('lg')) {

    }

    @media (width < bp('md')) {

    }
}

@media (prefers-color-scheme: dark), (prefers-color-scheme: light) {

}
